/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}


/**** section introduction  ****/
#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}


/**** section portfolio ****/
#portfolio {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.menuFilters {
	display: flex;
	list-style: none;
	margin-bottom: 3em;
	gap: 1em;
}

.menuFilters li {
	padding: 10px 30px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 16px;
	color: #1D6154;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #1D6154;
	border-radius: 25px;
	background-color: transparent;
	box-sizing: border-box;
}

.menuFilters li:hover {
	background-color: #1D6154;
	color: #FFFFFF;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

/**** section contact et login sur la page correspondante ****/
#login,
#contact {
	width: 50%;
	margin: auto;
}

#login>*,
#contact>* {
	text-align: center;

}

#login h2,
#contact h2 {
	margin-bottom: 20px;
}

#login form,
#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#login input,
#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label,
#contact label {
	margin: 2em 0 1em 0;
}

#login textarea,
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

/**** footer ****/
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.body_login {
	display: flex;
	flex-direction: column;
	/* La hauteur minimale est 100% de la hauteur de la fenêtre */
	min-height: 100vh;
}


/**** mode édition ****/
.hidden {
	display: none;
}

.active {
	display: flex;
}

/** bandeau noir **/
.editMode {
	width: 100vw; /*prend 100% de la largeur de l'écran*/	
	height: 59px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	background-color: #000000;

	position: fixed;
	top: 0;
	left: 0;
}

.editMode i {
	width: 15.58px;
	height: 15.58px;
}

.editMode p {
	margin-left: 10px;
	font-family: 'Work Sans';
	font-size: 16px;
	font-weight: 400;
	line-height: 18.77px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
}

.headerActive {
	margin-top: 109px;
	/* 50px de base + 59px pour décaler avec le bandeau noir */
}



.modifyMesProjets {
	margin-left: 1.5em;
	margin-bottom: 30px;
	display: flex;
	/*pour l'alignement avec Mes Projets*/
}

.editMesProjets p {
	margin-left: 0.5em;
	font-size: 14px;
	line-height: 16.42px;
}


/**** La modale *****/
.containerModale{
	position: fixed;
	margin: 0;
	height: 0;
	width: 100vw;
	background-color: rgba(0,0,0,0.5);
	top:0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modale{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
    background-color: white;
	border-radius: 10px;
    height: fit-content;
    width: 50%;
	height: 80%;
}
#btnClose{
	position: absolute;
	font-size: 1.5em;
	right: 2em;
	top: 2em;
}
#modaleTitle {
	height: 10%;
	display: flex;
	align-items: center;
	margin-top: 15px;
	font-family: 'Work Sans';
	font-size: 26px;
	font-weight: 400;
	line-height: 30.5px;
	text-align: center;
	text-decoration-skip-ink: none;
	margin-bottom: 20px;
}

/* modale 1 */
.containerProjetsModale{
	box-sizing: border-box;
	height: 550px;
	width: 80%;
	display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0; /* Supprimer l'espacement entre les colonnes */
    grid-row-gap: 0; /* Supprimer l'espacement entre les lignes */
	/* display: flex;
	align-items: left;
	flex-wrap: wrap;
	gap: 0; */

	border-bottom:1px solid #B3B3B3;
}
.scrolly{
	overflow-y: scroll;
}
.containerProjetsModale article{
	width: 100%;
	height: fit-content;
	box-sizing: border-box;
	padding: 5px;
	position: relative;
}
.containerProjetsModale img{
	width: 100%;
}
#leftArrow{
	position: absolute;
	font-size: 1.5em;
	top: 2em;
	left: 2em;
}

.fa-trash-can{
	position: absolute;
	transform: translate(-120%,20%);
	padding: 10px;
	background-color: #000000;
	color: #FFFFFF;
	border-radius: 7px;
}

/*boutons dans la modale*/
#btnAjoutPhoto,#btnSubmitNew,#btnURLPhoto{
	border-style: none;
	text-align: center;
	border-radius: 60px;
	padding: 10px 30px;
}
#btnAjoutPhoto,#btnSubmitNew{
	width: fit-content;
	font: 700 14px 'Syne';
	line-height: 16.8px;
	margin-top: 5%;
	margin-bottom: 5%;
}
#btnURLPhoto{
	font-size: 14px;
	font-weight: 500;
	line-height: 16.42px;
	background-color: #CBD6DC;
	color: #306685;
}
#btnAjoutPhoto{
	background-color: #1D6154;
	color: #FFFFFF;
}
#btnSubmitNew{
	width: 40%;
	color: #FFFFFF;
}
.activeButton{
	background-color: #1D6154;
}
.inactiveButton{
	background-color: #A7A7A7;
}

/*modale 2*/
.form{
	display: flex;
	flex-direction: column;
	padding-bottom: 2rem;
	border-bottom: 1px solid #B3B3B3;
	height: 70%;
	width: 80%;
}
.containerAddPhoto{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	background-color: #E8F1F6;
	gap: 1em;
	height: 300px;
}
.containerAddPhoto img {
	height: 100%;
	width: auto;
    object-fit: contain; /* Assure que l'image est contenue sans être coupée */
    object-position: center; /* Centre l'image si elle est plus petite que le conteneur */
}
#iconeImage{
	color: #B9C5CC;
	text-align: center;
	font-size: 5em;
	margin-top: 2rem;
}
#textUnderBtn{
	margin-bottom: 2em;
	font-size: 10px;
	font-weight: 400;
	line-height: 11.73px;
	text-align: center;
}

/*label et input dans la modale*/
.modale label{
	font-size: 14px;
	font-weight: 500;
	line-height: 16.42px;
	color: #3D3D3D;
}
.modale label{
	text-align: left;
	margin: 1rem 0;
}
.displayNone{
	display: none; /*pour cacher l'input de l'image*/
}
.modale input,.modale select{
	background: #FFFFFF;
	box-shadow: 0px 4px 14px 0px #00000017;
	border: none;
	padding: 1em;
	color: #444444;
	font-size: 14px;
	font-weight: 400;
	line-height: 16.42px;
	text-align: left;
}
